<template>
    <div class="row">
        <router-link :to="{name: 'new'}" class="p-button--positive u-float-right">
            <i class="fa fa-plus"></i>
            <span v-translate>New Recipe</span>
        </router-link>

        <div class="back">
            <router-link :to="{name: 'list'}" class="mr">
                <i class="fa fa-chevron-left"></i>
            </router-link>
            <router-link :to="{name: 'list'}" v-translate>Back</router-link>
        </div>

        <div class="row center" v-if="loading">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>

        <div v-if="!loading">
            <div class="p-card">
                <header class="p-card__header" v-if="recipe && recipe.image">
                    <img :src="image" :alt="recipe.title">
                </header>

                <h3 class="p-card__title">
                    {{recipe.title}}

                    <star-rating :rating="recipe.rating" v-if="recipe.rating"></star-rating>
                </h3>
                <p class="p-card__content" v-if="recipe.description">{{recipe.description}}</p>

                <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item" v-if="recipe.prep_time">
                        <span v-translate>Prep Time</span>: {{recipe.prep_time}}
                    </li>
                    <li class="p-inline-list__item" v-if="recipe.total_time">
                        <span v-translate>Total Time</span>: {{recipe.total_time}}
                    </li>
                </ul>
                <ul class="p-inline-list--middot">
                    <li
                        class="p-inline-list__item"
                        v-if="recipe.source && (recipe.source.startsWith('https://') || recipe.source.startsWith('http://'))"
                    >
                        <a :href="recipe.source">
                            <span class="mr" v-translate>Source</span>
                            <i class="fa fa-external-link"></i>
                        </a>
                    </li>
                    <li
                        class="p-inline-list__item"
                        v-if="recipe.source && !recipe.source.startsWith('https://') && !recipe.source.startsWith('http://')"
                    >
                        <span v-translate>Source</span>: {{recipe.source}}
                    </li>

                    <li class="p-inline-list__item">
                        <router-link :to="{name: 'edit', params: {id: recipe.id}}">
                            <span class="mr" v-translate>Edit</span>
                            <i class="fa fa-edit"></i>
                        </router-link>
                    </li>
                    <li class="p-inline-list__item">
                        <a @click="confirmRemove()">
                            <span class="mr" v-translate>Delete</span>
                            <i class="fa fa-remove"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="p-card">
                        <h3 class="p-card__title" v-translate>Ingredients</h3>
                        <p class="p-card__content">
                            <ul class="p-list">
                                <li
                                    class="p-list__item"
                                    v-for="ingredient in ingredients"
                                    :key="ingredient"
                                    v-html="ingredient"
                                ></li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="p-card" v-if="recipe.directions">
                        <h3 class="p-card__title" v-translate>Directions</h3>
                        <p class="p-card__content">
                            <ol class="directions">
                                <li v-for="direction in directions" :key="direction">
                                    <label>
                                        <input type="checkbox" class="inline" />
                                        <span class="inline" v-html="direction"></span>
                                    </label>
                                </li>
                            </ol>
                        </p>
                    </div>

                    <div class="p-card" v-if="recipe.notes">
                        <h3 class="p-card__title" v-translate>Notes</h3>
                        <p class="p-card__content pre">{{recipe.notes}}</p>
                    </div>
                </div>
            </div>
        </div>

        <modal name="confirm-remove">
            <div class="p-strip">
                <h3 v-translate>
                    Are you sure your want to delete this recipe?
                </h3>

                <button
                    class="p-button--neutral"
                    @click="$modal.hide('confirm-remove')"
                    v-translate
                >
                    Cancel
                </button>
                <button class="p-button--negative" @click="remove()" v-translate>
                    Delete
                </button>
            </div>
        </modal>

        <modal name="error-message">
            <div class="p-strip">
                <h3>
                    <span v-translate>Error</span>: {{errorMessage}}
                </h3>

                <button class="p-button--neutral" @click="closeErrorMessage()" v-translate>
                    Ok
                </button>
            </div>
        </modal>
    </div>
</template>

<script>
import storage from '@/storage';
import utils from '@/utils';

export default {
    name: 'ViewRecipe',
    head: {
        title: function() {
            return {inner: this.recipe ? this.recipe.title : ''};
        },
    },
    data() {
        return {
            recipe: {},
            loading: false,
            errorMessage: '',
        };
    },
    created() {
        this.loading = true;
        this.load();

        this.$bus.$on('reload', () => {
            this.load();
        });
    },
    methods: {
        load() {
            storage.find(this.$route.params.id).then((recipe) => {
                if (recipe) {
                    this.recipe = recipe;

                    this.$emit('updateHead');
                }
                else {
                    this.errorMessage = this.$gettext('Recipe not found');
                    this.$modal.show('error-message');
                }

                this.loading = false;
            }).catch((err) => {
                console.error(err);
                if (err.getMessage) {
                    this.errorMessage = err.getMessage();
                }
                else {
                    this.errorMessage = err;
                }

                this.$modal.show('error-message');
            });
        },
        confirmRemove() {
            this.$modal.show('confirm-remove');
        },
        remove() {
            this.closeConfirmRemove();

            storage.remove(this.$route.params.id).then(() => {
                this.$router.push({name: 'list'});
            });
        },
        closeErrorMessage() {
            this.$modal.hide('error-message');
            this.$router.push({name: 'list'});
        },
    },
    computed: {
        ingredients() {
            let ingredients = [];
            if (this.recipe && this.recipe.ingredients) {
                ingredients = this.recipe.ingredients.split('\n').filter((ingredient) => ingredient.trim());

                ingredients = ingredients.map((ingredient) => {
                    if (ingredient[0] == '#') {
                        return `<h4>${ingredient.substring(1).trim()}<h4>`;
                    }

                    let parts = ingredient.split(' ').map((part) => {
                        if (!Number.isNaN(part.replace('/', ''))) {
                            return `<b>${part}</b>`;
                        }

                        return part;
                    });
                    return parts.join(' ');
                });
            }

            return ingredients;
        },
        directions() {
            let directions = [];
            if (this.recipe && this.recipe.directions) {
                directions = this.recipe.directions.split('\n').filter((direction) => direction.trim());
            }

            return directions;
        },
        image() {
            let image = '';
            if (this.recipe && this.recipe.image) {
                image = utils.imageUrl(this.recipe.image);
            }

            return image;
        },
    },
};
</script>

<style scoped>
.back {
    margin-top: 0.5em;
}

.row {
    margin-top: 0.5em;
}

.p-card .p-card__header img {
    max-height: 20em;
}

.pre {
    white-space: pre-line;
}

.inline {
    display: inline;
}

ol.directions {
    padding-left: 0;
}

i {
    margin-top: 0;
}
</style>
